aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python==0.2.0
gitpython
hachoir
heroku3
motor
pillow
psutil
py-tgcalls==0.9.7
pykeyboard
pyrogram==2.0.106
python-dotenv
pyyaml
requests
Node==1.2.1
speedtest-cli
spotipy
tgcrypto
unidecode
yt-dlp
youtube-search
youtube-search-python
